# Binaries
*.exe
*.icns
Assets.car

# Directories
data/
bin/
output/
sample/
__pycache__/
.venv/
scripts/debug/
diary/

# Python
*.py[cod]
*$py.class

# Misc
upload_log.txt
status.json
status_utf8.json
payload.json
.DS_Store
Thumbs.db
